.mainBlock{
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mainBlock div {
  padding: 200px 0;
}

.mainFont {
  text-align: center;
  font-style: bold;
  font-size: 900%;
  font-family: Lithos Pro Regular, Helvetica;
  text-shadow: 4px 4px #ffffff;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 30px;
  -webkit-filter: invert(50%);
  filter: invert(50%);	
}

.icon:hover {
  opacity:0.9 !important;
  -webkit-filter: invert(0);
  filter: invert(0);
}

.mono {
  font-family: Courier New, Helvetica;
}

@media screen and (max-width: 900px) {
	.mainBlock{
	  padding-bottom: 75%;
	}
	.mainBlock div {
	  padding: 0;
	}
}