body {
  min-width: 500px;
  background-color: #000;
  overflow: hidden;
}

nav {
  height: 60px;
  line-height: 60px;
  -webkit-transition: height .5s, line-height .5s; /* Safari */
  transition: height .5s, line-height .5s;
}

.scrolled-nav {
  height: 30px !important;
  line-height: 30px !important;
}

#main {
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#main div {
  padding: 350px 0;
  text-align: center;
}

.mainFont {
  font-size: 900%;
  font-family: Lithos Pro Regular, Helvetica;
  text-shadow: 4px 4px #ffffff;
  display: inline;
}

.rightFont {
  padding-left: 25%;
}

.sectionBlock {
  
}

.icon {
  width: 50px;
  height: 50px;
  margin: 30px;
  -webkit-filter: invert(50%);
  filter: invert(50%);	
}

.icon:hover {
  opacity:0.9 !important;
  -webkit-filter: invert(0);
  filter: invert(0);
}

.mono {
  font-family: Courier New, Helvetica;
}

#contact {
  width: 100%;
  height: 100%;
}

.mapBlock {
  text-align: center;
  height: 400px;
}

#map {
  width: 500px;
  height: 100%;
  border: 0;
}

#foodie {
  background-image: url('../image/foodie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
}

#foodie div {
  padding: 150px 0;
}

@media screen and (max-width: 500px) {
  ul li {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  #main div {
    padding: 0;
  }
  .mainFont {
    padding: 0;
    display: block;		
  }
  .rightFont {
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .mainFont {
    font-size: 600%;	
  }	
  #main div {
    padding: 375px 0;
  }  
}